[Unit]
Description=Docker Compose Project
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/project/srcs
ExecStart=/usr/local/bin/docker-compose /root/project/srcs/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose /root/project/srcs/docker-compose.yml down

[Install]
WantedBy=multi-user.target
