MARIADB_ROOT_PWD=change-me-root-password
MARIADB_DB=wordpress
MARIADB_USER=wordpress_user
MARIADB_PWD=change-me-db-password
MARIADB_HOST=mariadb

WP_URL=https://student.42.fr
WP_DATABASE=wordpress
WP_TITLE=Cloud One
WP_ADMIN_USER=admin
WP_ADMIN=admin
WP_ADMIN_PWD=change-me-admin-password
WP_ADMIN_EMAIL=admin@example.local
WP_USER=editor
WP_USER_PWD=change-me-editor-password
WP_USER_EMAIL=editor@example.local

DOMAIN=https://student.42.fr
TITLE=Cloud One
TABLE_PREFIX=wp_
