[Unit]
Description=Inception
Requires=docker.service
After=docker.service

[Service]
Environment=WP_URL=https://{{ ansible_host }}
User={{ ansible_env.USER }}
WorkingDirectory={{ ansible_env.HOME }}/project/srcs
ExecStart=/usr/local/bin/docker-compose -f {{ ansible_env.HOME }}/project/srcs/docker-compose.yml up -d
Restart=always

[Install]
WantedBy=multi-user.target
